.list-wrapper {
  padding-top: 8px;
}

.list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.list-wrapper:first-of-type {
  padding-top: 0;
}

.title {
  width: 100%;
}

.ingridient-wrapper {
  cursor: pointer;
}
